<h1>Reportes</h1>
<table>
	<tr>
		<th>Identificador</th>
		<th>Titulo</th>
		<th>Fecha creacion</th>
		<th>Fecha edicion</th>
		<th></th>
	</tr>
<% @posts.each do |post| %>
<tr>
	<td>
		<%= post.id %>
	</td>
	<td>
		<%= post.title %>
	</td>
	<td>
		<%= post.created_at %>
	</td>
	<td>
		<%= post.updated_at %>
	</td>
</tr>
<%end%>
</table>
<br>
<a href="/posts/welcome">Atras</a>
