<h1>Posts que contienen la palabra <%=@text%></h1>
<%= render "posts_controller/index" %>
<DIV Align=left>
<a href="/posts" class="btn btn-primary btn-lg disabled" role="button">Atras</a>
</DIV>
